<section>
    <div class="main-container">
        <div class="main-container-header">
            <span>Topics</span>
            <span>Posts</span>
            <span>Last Post</span>
        </div>
        {{#each topics as |topic|}}
            {{log topic.posts}}
            <div class="main-container-row">
                <span><a href="/topic/{{topic.id}}">{{topic.subject}}</a></span>
                <span>{{topic.post_count}}</span>
                {{#if topic.posts}}
                    {{#each topic.posts as |post|}}
                        <span><a
                                href="/post/{{post.id}}"
                            >{{post.subject}}</a><br />
                            by
                            {{post.user.username}}<br />{{format_date
                                post.createdAt
                            }}
                        </span>
                    {{/each}}
                {{else}}
                    <span></span>
                {{/if}}
            </div>
        {{/each}}
    </div>
</section>