<section>
    <div class="main-container">
        <div class="main-container-header">
            <span>
                Topics
                {{#if user.is_admin}}
                    <button class="add-btn" id="add-topic"></button>
                {{/if}}
            </span>
            <span>Posts</span>
            <span>Last Post</span>
        </div>
        {{#if user.is_admin}}
            <div class="topic-form">
                <form>
                    <fieldset>
                        <label for="topic-subject">Create Topic</label>
                        <input
                            type="text"
                            id="topic-subject"
                            name="topic-subject"
                        />
                        <input type="submit" value="Submit" />
                        <input type="button" value="Dismiss" />
                    </fieldset>
                </form>
            </div>
        {{/if}}
        {{#each topics as |topic|}}
            <div class="main-container-row">
                <span><a href="/topic/{{topic.id}}">{{topic.subject}}</a></span>
                <span>{{topic.post_count}}</span>
                {{#if topic.posts}}
                    {{#each topic.posts as |post|}}
                        <span><a
                                href="/post/{{post.id}}"
                            >{{post.subject}}</a><br />
                            by
                            {{post.poster.username}}<br />{{format_date
                                post.createdAt
                            }}
                        </span>
                    {{/each}}
                {{else}}
                    <span></span>
                {{/if}}
            </div>
        {{/each}}
    </div>
</section>
{{#if user.is_admin}}
    <script src="/js/topics.js"></script>
{{/if}}